:root {
  --text-color: hsl(0, 0%, 0%);
  --ch1-color: #ff8080;
  --ch2-color: #ccffff;
  --ch3-color: #cdb3e6;
  --background: hsl(210, 35%, 85%);
  --text-color-2: hsl(210, 10%, 45%);
  --scrollbar-color: var(--text-color-2);
}

@media (prefers-color-scheme: dark) {
  :root{
    --text-color: hsl(210, 30%, 75%);
    --ch1-color: hsl(310, 45%, 75%);
    --ch2-color: hsl(210, 45%, 75%);
    --ch3-color: hsl(110, 45%, 75%);
    --background: hsl(210, 15%, 15%);
    --text-color-2: hsl(209, 29%, 30%);
    --scrollbar-color: var(--text-color-2);
  }
}

body {
  margin: 1.5rem;
  text-align: left;
  font-size: clamp(14px, 4vw, 25px);
  color: var(--text-color);
  background: var(--background);
  counter-reset: ChapterCounter;
}

#toc {
  position: sticky;
  left: 80%;
  width: 20%;
  top: 1rem;
  height: 0rem;
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--ch2-color) var(--scrollbar-color);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: LightGray;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
  border: 3px solid LightGray;
}


header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

a{
    &:link {
    color: var(--text-color-1);
    text-decoration: none;
  }
  
    &:visited {
    color: var(--text-color-1);
  }
 
    &:hover {
    color: var(--ch1-color);
  }
}

.chapter-heading {
  display: inline;
  color: var(--text-color-2);
  margin: .2rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
  counter-increment: ChapterCounter;
  background: var(--text-color);
}

#ch1 {
  background-color: var(--ch1-color);

}

#ch2 {
  background-color: var(--ch2-color);
}

#ch3 {
  background-color: var(--ch3-color);
}

.title {
  font-weight: normal;
  font-variant: small-caps;
}

.lyrics {
  padding-left: 1.5rem;
  white-space: pre;
}

h2 em {
  font-size: calc(1em - 4px);
  font-variant: normal;
}

li {
  clear: both;
  content: "";
  display: table;
}

#mormon-sunday-school li {
  clear: both;
  content: "";
  display: table;
  margin: .8rem 0;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

.row:after {
  content: "";
  display: table;
  padding-left: 55px;
  clear: both;
}

.states li {
  margin: .8rem 0;
}


#by-the-bay-examples {
  padding-left: 2rem;
}

#example-list-dbtb {
  padding-left: 55px;
}


h3 {
  font-weight: normal;
}

h2 i {
  font-size: calc(1em - 2px);
  font-variant: normal;
}

#timp-div {
  padding-right: .8rem;
}
