header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

body {
  padding: 20px;
  text-align: justify;
  font-family: serif;
  background-image: url('paper_background.jpg');
  font-size: 2vw;
}

.chapter-heading {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

a {
  text-decoration: none;
}

#chapter1 {
  background-color: #ff8080;
}

#chapter2 {
  background-color: #ccffff;
}

h2 {
  font-weight: normal;
  font-variant: small-caps;
}

p {
  font-size: 1.5rem;
  padding-left: 10px
}

h2 em {
  font-size: .5em;
  font-variant: normal;
}

ul li {
  clear: both;
  content: "";
  display: table;
}

#mormon-sunday-school li {
  clear: both;
  content: "";
  display: table;
  margin: 10px 0;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  padding-left: 55px;
  clear: both;
}

.states li {
  margin: 10px 0;
}

#ants li {

}

#by-the-bay-examples {
  padding-left: 30px;
}

#example-list-dbtb {
  padding-left: 55px;

}

#example-list-dbtb li {

}

h3 {
  font-weight: normal;
}

h2 i {
  font-size: .75em;
  font-variant: normal;
}


#timp-div {
  padding-right: 10px;
}
